<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    
    {% block title %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="http://127.0.0.1:5000">home page</a>
        </nav>
    </header>
    {% block body %}{% endblock %}
    <footer>
        <p>&copy 2022 Dominik Molenda</p>
    </footer>
</body>
</html>
<script type="text/javascript" src="static\scripts.js"></script>